<h1>Listing Jobs</h1>
 
<%= link_to 'New Job', new_jobs_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @jobs.each do |job| %>
    <tr>
      <td><%= job.title %></td>
      <td><%= job.text %></td>
      <td><%= link_to 'Show', job %></td>
      <td><%= link_to 'Edit', edit_job_path(job) %></td>
      <td><%= link_to 'Delete', job_path(job),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>  
  </tr>
  <% end %>
</table>
