<!DOCTYPE html>
<html>
  <header>
    <h1>Awesome Jobs</h1>
    <meta charset="utf=8">
    <%= stylesheet_link_tag "awesomejobs.css" %>
  </header>

 <nav> 
   <%= link_to 'New Job', new_job_path %>
 </nav>
  <section>
    <table>
      <tr>
        <td><h7>Title | </h7></td>
        <td><h7>Company Name | </h7></td>
        <td><h7>Go To Job Description </h7></td>
      </tr>
  
  <!--if boolean show = true show te job:-->
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.company_name %></td>
        <td><%= link_to 'Show', job %></td>
      </tr>
    <% end %>
    </table>
 </section>
</html>
