<html>
  <header>
    <h1>Create a new job post</h1>
    <meta charset="utf=8">
    <%= stylesheet_link_tag "awesomejobs.css" %>
  </header>

<% if current_user %>
  <p>Welcome <%= current_user.username %></p>
<% else %>
  <p>Please log in.</p>
<% end %>

<% if flash[:notice] %><!--indicates "Job created; approval pending" or "Job not created"--> 

    <div class="notice"><%= flash[:notice] %></div>

<% end %>

<%= form_for :post, url: jobs_path do |f| %>
  <% if @job.errors.any? %>
  <div id="error-text">
    <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>
    <ul>
      <% @job.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

 <p>
    <h7><%= f.label :Company_Name %></h7><br>
    <%= f.text_field :company_name %>
  </p>

  <p>
    <h7><%= f.label :Job_Title %></h7><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <h7><%= f.label :Job_Duties %></h7><br>
    <%= f.text_area :duties %>
  </p>

  <p>
    <h7><%= f.label :Job_Description %></h7><br>
    <%= f.text_area :desc %>
   </p>

  <p>
    <h7><%= f.label :Skills %></h7><br>
    <%= f.text_field :skills %>
  </p>

  <p>
    <h7><%= f.label :Shift %></h7><br>
    <%= f.text_field :shift %>
  </p>

  <p>
    <h7><%= f.label :Hours_Per_Week %></h7><br>
    <%= f.text_field :hours_per_week %>
  </p>

  <p>
    <h7><%= f.label :Hourly_Pay %></h7><br>
    <%= f.text_field :hourly_pay %>
  </p>

  <p>
    <h7><%= f.label :company_website %></h7><br>
    <%= f.text_field :company_website %>
  </p>

  <p>
    <h7><%= f.label :email %></h7><br>
     <%= f.text_field :email %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', jobs_path %>

</html>