<h1>Create a new job post</h1>

<% if flash[:notice] %>

    <div class="notice"><%= flash[:notice] %></div>

<% end %>

<%= form_for :post, url: jobs_path do |f| %>
  <% if @job.errors.any? %>
  <div id="error-text">
    <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>
    <ul>
      <% @job.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

 <p>
    <%= f.label :Company_Name %><br>
    <%= f.text_field :company_name %>
  </p>

  <p>
    <%= f.label :Job_Title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :Job_Duties %><br>
    <%= f.text_area :duties %>
  </p>

  <p>
    <%= f.label :Job_Description %><br>
    <%= f.text_area :desc %>
   </p>

  <p>
    <%= f.label :Skills %><br>
    <%= f.text_field :skills %>
  </p>

  <p>
    <%= f.label :Shift %><br>
    <%= f.text_field :shift %>
  </p>

  <p>
    <%= f.label :Hours_Per_Week %><br>
    <%= f.text_field :hours_per_week %>
  </p>

  <p>
    <%= f.label :Hourly_Pay %><br>
    <%= f.text_field :hourly_pay %>
  </p>

  <p>
    <%= f.label :Apply_For_Job %><br>
    <%= f.text_field :company_website %>
  </p>

  <p>
     <%= f.label :Contact_Info %><br>
     <%= f.text_field :email %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', jobs_path %>
