<html>
  <header>
    <h1>Job Results</h1>
    <meta charset="utf=8">
    <%= stylesheet_link_tag "awesomejobs.css" %>
  </header>

<% if current_user %>
  <p>Welcome <%= current_user.username %></p>
<% else %>
  <p>Please log in.</p>
<% end %>

<% if flash[:notice] %>

  <div class="notice"><%= flash[:notice] %></div>

<% end %>

<p>
  <h7>Company Name:<h7>
  <%= @job.company_name %>
</p>

<p>
  <h7>Title:</h7>
  <%= @job.title %><!--".title" is a property from 20131114194058_create_jobs.rb-->
</p>

<p>
  <h7>Job Duties:</h7>
  <%= @job.duties %>
</p>

<p>
  <h7>Job Description:</h7>
  <%= @job.desc %>
</p>

<p>
  <h7>Skill Requirements:</h7>
  <%= @job.skills %>
</p>

<p>
  <h7>Shift:</h7>
  <%= @job.shift %>
</p>

<p>
  <h7>Hours Per Week:</h7>
  <%= @job.hours_per_week %>
</p>

<p>
  <h7>Hourly Pay:</h7>
  <%= @job.hourly_pay %>
</p>

<p>
  <h7>Apply for Job:</h7>
  <a href:"<%= @job.company_website %>" target=" blank"><%= @job.company_name %></a>
</p>

<p>
  <h7>Contact Info:</h7>
<p>  

<p>
  <h7>Accept Job?</h7>
<p>
  <%= form_for :post, url: jobs_path do |f| %>

<%= f.radio_button :accept, true %><!--auto generated id = "accept_true"-->
<%= f.label :yes %><br />
<%= f.radio_button :accept, false %><!--auto generated id = "accept_false"-->
<%= f.label :no %>  
  
  <!--WHEN A RADIO BUTTON IS SELECTED, DO ONE OF THE FOLLOWING UPON CLICK OF THE "OK" BUTTON:-->
  <!--if radio button "yes" is selected, set the boolean show flag to 2, and add the job to the list in index.html.erb-->
  <!--else-if radio button "no" is selected, leave the default boolean show flag, and do not add the job to index.html.rb-->
<p>
  <h7>Reason for Rejecting:</h7><br>
  <%= f.text_area :reject_description %>  <!--if null, give the admin an error message.-->
</p>


<button name="btnApprove" type="submit">
  <strong>Ok</strong>
</button>

<% end %>

<%= link_to 'Back', jobs_path %>
  
</html>
