<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<p>
  <strong>Company Name:</strong>
  <%= @job.company_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @job.title %><!--".title" is a property from 20131114194058_create_jobs.rb-->
</p>

<p>
  <strong>Job Duties:</strong>
  <%= @job.duties %>
</p>

<p>
  <strong>Job Description:</strong>
  <%= @job.desc %>
</p>

<p>
  <strong>Skill Requirements:</strong>
  <%= @job.skills %>
</p>

<p>
  <strong>Shift:</strong>
  <%= @job.shift %>
</p>

<p>
  <strong>Hours Per Week:</strong>
  <%= @job.hours_per_week %>
</p>

<p>
  <strong>Hourly Pay:</strong>
  <%= @job.hourly_pay %>
</p>

<p>
  <strong>Apply for Job:</strong>
  <a href:"<%= @job.company_website %>" target=" blank"><%= @job.company_name %></a>
</p>

<p>
  <strong>Contact Info:</strong>
<p>

<%= link_to 'Back', jobs_path %>

