<% if current_user %>
  <p>Welcome <%= current_user.username %></p>
<% else %>
  <p>Please log in.</p>
<% end %>

<% if flash[:notice] %>

  <div class="notice"><%= flash[:notice] %></div>

<% end %>

<p>
  <strong>Company Name:</strong>
  <%= @job.company_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @job.title %><!--".title" is a property from 20131114194058_create_jobs.rb-->
</p>

<p>
  <strong>Job Duties:</strong>
  <%= @job.duties %>
</p>

<p>
  <strong>Job Description:</strong>
  <%= @job.desc %>
</p>

<p>
  <strong>Skill Requirements:</strong>
  <%= @job.skills %>
</p>

<p>
  <strong>Shift:</strong>
  <%= @job.shift %>
</p>

<p>
  <strong>Hours Per Week:</strong>
  <%= @job.hours_per_week %>
</p>

<p>
  <strong>Hourly Pay:</strong>
  <%= @job.hourly_pay %>
</p>

<p>
  <strong>Apply for Job:</strong>
  <a href:"<%= @job.company_website %>" target=" blank"><%= @job.company_name %></a>
</p>

<p>
  <strong>Contact Info:</strong>
<p>  

<p>
  <strong>Accept Job?</strong>
<p>
  <%= form_for :post, url: jobs_path do |f| %>
<!--  
<!--<%= f.radio_button :accept, true %><%= f.label :yes %><br />
<!--<%= f.radio_button :accept, false %><%= f.label :no %>  
-->
  <%= radio_button_tag(:yes, "child") %>
<%= label_tag(:age_child, "I am younger than 21") %>
<%= radio_button_tag(:no, "adult") %>
<%= label_tag(:age_adult, "I'm over 21") %>
  
  <!--WHEN A RADIO BUTTON IS SELECTED, DO ON OF THE FOLLOWING UPON CLICK OF THE "OK" BUTTON:-->
  <!--if radio button "yes" is selected, set the boolean show flag to 2, and add the job to the list in index.html.erb-->
  <!--else-if radio button "no" is selected, leave the default boolean show flag, and do not add the job to index.html.rb-->
<p>
  <strong>Reason for Rejecting:</strong><br>
  <%= f.text_area :reject_description %>  <!--if null, give the admin an error message.-->
</p>

<!--
use a boolean flag
*before_create callback, set approval to:"" :default => 1
*force default value to be false?
-->
<button name="btnApprove" type="button">
  <strong>Ok</strong>
</button>

<% end %>

<%= link_to 'Back', jobs_path %>