<html>
  <body>
    <header>
      <h1>Job Results</h1>
      <meta charset="utf=8">
      <%= stylesheet_link_tag "awesomejobs.css" %>
    </header>
    
    
    <% if flash[:notice] %>
  
      <div class="notice"><%= flash[:notice] %></div>
  
    <% end %>
  
    <p>
      <h7>Company Name:<h7>
      <%= @job.company_name %>
    </p>
  
  <p>
    <h7>Title:</h7>
    <%= @job.title %><!--".title" is a property from 20131114194058_create_jobs.rb-->
  </p>
  
  <p>
    <h7>Job Duties:</h7>
    <%= @job.duties %>
  </p>
  
  <p>
    <h7>Job Description:</h7>
    <%= @job.desc %>
  </p>
  
  <p>
    <h7>Skill Requirements:</h7>
    <%= @job.skills %>
  </p>
  
  <p>
    <h7>Shift:</h7>
    <%= @job.shift %>
  </p>
  
  <p>
    <h7>Hours Per Week:</h7>
    <%= @job.hours_per_week %>
  </p>
  
  <p>
    <h7>Hourly Pay:</h7>
    <%= @job.hourly_pay %>
  </p>
  
  <p>
    <h7>Apply for Job:</h7>
    <a href:"<%= @job.company_website %>" target=" blank"><%= @job.company_name %></a>
  </p>
  
  <p>
    <h7>Contact Info:</h7>
  <p>  
  
  <%= link_to 'Back', jobs_path %>
  
  </body>
  
</html>
